.c1,
.c2,
.c3,
.c4 {
    width: 100%;
}

.c1,
.c2,
.c3 {
    padding: 20px;
    box-sizing: border-box;
}

.container {
    color: #aaa;
    background-color: #222;
    background: rgba(16, 16, 16, 0.95);
    display: flex;
    flex-wrap: wrap;
}

@font-face {
    font-family: "wow";
    src: url("livecraft.woff");
}

.header_logo {
    font-family: wow, Arial, Helvetica, sans-serif;
    font-size: 64px;
    color: #09f;
    /* text-shadow: 5px 5px #222; */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/filter */
    filter: drop-shadow(5px 5px 7px #000);
    padding: 10px;
    box-sizing: border-box;
}

.header_logo a {
    color: #09f;
}

.header_logo a:hover {
    color: #0bf;
}

.footer {
    background-color: #000;
    padding: 10px;
    box-sizing: border-box;
    background-color: #111;
    background: rgba(0, 0, 0, 0.85);
    color: #aaa;
    font-variant: small-caps;
    font-size: 80%;
}

html {
    min-width: 100%;
    min-height: 100%;
    background-color: #222;
    background: linear-gradient(90deg, #111 0%, #222 100%);
    background: url("images/shadowlands.jpg") fixed center;
    background-origin: content-box;
    /* background-size: 150; */
    /* background-size: cover; */
    background-size: auto 120%;
}

body {
    margin: 20px;
    font-family: myfont, Arial, Helvetica, sans-serif;
}

.c_full {
    width: 100%;
}

@media (min-width: 600px) {
    .c1 {
        padding-top: 50px;
        width: 25%;
    }
    .c4 {
        width: 75%;
    }
    .container {
        flex-wrap: nowrap;
    }
}

@media (min-width: 800px) {
    .container,
    .menu,
    .header_logo,
    .page_title,
    .footer {
        /* <800 zaradi marginite, inache se poiaviava scrollbar */
        width: 760px;
        margin-left: auto;
        margin-right: auto;
    }
}

.menu {
    /* padding: 10px; */
    box-sizing: border-box;
    background-color: #111;
    background: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-wrap: wrap;
}

.menu_link {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 0 10px;
}

.c1 {
    background: rgba(16, 16, 16, 0.5);
}

a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #fff;
}


/* https://www.w3schools.com/howto/howto_css_dropdown.asp */

.dropdown {
    /* position: relative; */
    /* display: inline-block; */
}

.dropdown_content {
    /* display: none; */
    position: absolute;
    background-color: #222;
    color: #aaa;
    padding: 20px;
    background: rgba(0, 0, 0, 0.9);
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    box-shadow: 0px 4px 16px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}


/* https://stackoverflow.com/questions/3331353/transitions-on-the-css-display-property */

.dropdown_content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s ease-in;
}

.dropdown:hover .dropdown_content {
    /* display: block; */
    opacity: 1;
    visibility: visible;
    transition: visibility 0.25s, opacity 0.25s ease-out;
}

.dropdown:hover .dropdown_button {
    background-color: #222;
}

.dropdown_button {
    padding: 10px;
}


/* https://www.w3schools.com/css/css_grid.asp */

.menu_classes {
    display: grid;
    grid-template-columns: auto auto auto;
}

.menu_item a {
    display: block;
    padding: 10px;
}

.menu_item div:hover {
    background-color: #222;
}

#page_content:empty {
    opacity: 0;
}

#page_content {
    opacity: 1;
    transition: opacity 0.25s ease-in;
}


/* https://www.w3schools.com/css/css3_mediaqueries.asp */

@media print {
    .menu {
        display: none;
    }
    .logo {
        display: none;
    }
    .header_logo {
        display: none;
    }
}